body {
   font-family: sans-serif;
   padding: 0px;
   margin: 0px;
}
.container {
  width: 80%;
  margin: 0 auto;
}
input{
  padding:5px;
  width: 200px;
  border: 2px solid cyan;
  border-radius: 0.5px;
  height: 60px;
}
button {
  border: 3px solid cyan;
  border-radius : 0.5px;
  height: 40px;
  width: 80px;
}
li{
  text-decoration:none;
  padding: 10px;
}
